

/*
===========  General CSS ===========
*/
 body {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #23242C;
  background: #ffffff;
  overflow-x: hidden;
}

/* Custom Container */
@media (min-width: 1200px) {
  .container {
    max-width: 1616px;
  }
}

/* Common CSS */
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
  color: #23242C;
  line-height: 1.3;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: capitalize;
}
h1{
  font-size:60px;
}

h2{
  font-size:40px;
}

h3{
  font-size:32px;
}

h4{
  font-size:24px;
}

h5{
  font-size:20px;
}

h6{
  font-size:16px;
}
p {
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}




/* Placeholder CSS */
 ::-moz-placeholder {
     color: #333333 !important;
}
 ::-o-placeholder {
     color: #333333 !important;
}
 :-ms-input-placeholder {
     color: #333333 !important;
}
 input:-moz-placeholder {
     color: #333333 !important;
}
::-webkit-input-placeholder {
  color: #333333 !important;
}


.subscribe-row ::-moz-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row ::-o-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row :-ms-input-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row input:-moz-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row ::-webkit-input-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}



/* Selection CSS */
 ::-moz-selection {
  color: #ffffff;
  background: #00c0d6;
}
 ::selection {
  color: #ffffff;
  background: #00c0d6;
}




/* Form CSS */
.form-control {
  height: 45px;
  margin-bottom: 30px;
  box-shadow: none;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.form-control:focus {
  border-color: #666666;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Overlay CSS */
.overlay-black {
  position: relative;
}
.overlay-black:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(34, 34, 34, 0.8);
}
.overlay-white {
  position: relative;
}
.overlay-white:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}




/* Theme btn CSS */
.my-btn {
  font-family: 'Merriweather', serif;
  position: relative;
  z-index: 0;
  padding: 18px 60px 15px;
  background: #cda248;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
  height: 60px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover {
  border: none;
  color: #ffffff;
  background: #cda248;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
  width: 80%;
  height: 1px;
  background: #ffffff;   
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  width: 80%;
  height: 1px;
  background: #ffffff;   
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover:after {
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}



/* Title CSS */
.my-title {
  margin-top: -10px;
  margin-bottom: 60px;
}
.my-title h2 {
  color: #1b1a17;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 20px;
}
.my-title p {
  color: #1b1a17;
  font-size: 16px;
  margin-bottom: 0;
}





/*.animated{
  opacity:1;
}*/

/* Back to top */
#back-to-top {
    position: fixed;
    bottom: 50%;
    right: 60px;
    z-index: 9999;
    width: 66px;
    height: 66px;
    text-align: center;
    line-height: 62px;
    background: #000941;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
#back-to-top:hover {
  background-color: #FE2F70;
  border-color: #FE2F70;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
#back-to-top.show {
    opacity: 1;
    bottom: 80px;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
}


/* Pagination CSS */
.my-pagination {
  margin-bottom: 30px;
  float: right;
}
.my-pagination ul li a {
  display: inline-block;
  background: transparent;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid transparent;
  width: 50px;
  height: 48px;
  line-height: 32px;
  font-size: 21px;
  color: #23242C;
}
.my-pagination ul li a:hover,
.my-pagination ul li a.active {
  background: #FFE5EE;
  border: 1px solid #FE2F70;
  color: #FE2F70;
}
.my-pagination .page-item.disabled .page-link {
  border-color: transparent;
}
.container-fluid {
  padding: 0 60px;
}



/* 
=========== Banner CSS Start ===========
*/
.banner-area {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner-col {
  min-height: 745px;
  position: relative;
}
.banner-col .banner-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 0;
  text-align: center;
  transform: translateY(-50%);
}
.banner-col .banner-content h1 {
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  font-size: 78px;
  margin-bottom: 30px;
}
.banner-col .banner-content h4 {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  display: inline-block;

}
.banner-col .banner-content h4:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -390px;
  width: 360px;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.banner-col .banner-content h4:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -390px;
  width: 360px;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.banner-btn {
  margin-top: 60px;
}
.banner-btn .btn {
  width: 283px;
  height: 72px;
  background-color: #56D18F;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 60px;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.banner-btn .btn:hover {
  background-color: #ffffff;
  color: #56D18F;
}





/* 
=========== Trips CSS Start ===========
*/
.trips-area {
  padding: 40px 0 40px;
}
.trips-area .container-fluid {
  padding: 0 65px;
}
.trips-heading {

}
.trips-heading h2 {
  color: #000941;
  font-weight: 500;
  font-size: 55px;
}
.trips-heading h3 {
  color: #23242C;
  font-weight: 500;
  font-size: 28px;
  text-align: right;
}
.trips-selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.trips-selects-item {
  width: 330px;
}

/* Select CSS Start */
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 68px;
  border-radius: 0;
  border-color: #D2D2D2;
  color: #22232A;
}
.select2-container--default .select2-selection--single:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #aaa;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 64px;
  font-size: 18px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 50%;
  right: 1px;
  width: 20px;
  transform: translateY(-50%);
}
.select2-results__option {
  font-size: 12px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 40px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid #aaa; 
}
/* Select CSS End */

/* Datepicker CSS Start */
.datepicker.form-control {
  min-height: 68px;
  border-color: #D2D2D2;
  color: #22232A;
  border-left: none;
}
.gj-datepicker .btn {
  border-radius: 0;

}
.gj-datepicker.input-group {
  flex-direction: row-reverse;
}
.gj-datepicker.input-group .input-group-append {
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-left: 1px solid #D2D2D2;

}
.gj-datepicker-bootstrap [role=right-icon] button {
  background-image: url(../images/icons/date.png);
  background-repeat: no-repeat;
  background-position: center;
  border-right-color: #ffffff;
  width: 70px;
  background-color: transparent;
}






.trips-col {
  position: relative;
  padding: 10px;
  border: 1px solid #D2D2D2;
  margin-bottom: 15px;
}
.trips-img {
  overflow: hidden;
}
.trips-img img {
  width: 100% !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.trips-col:hover .trips-img img {
  -ms-transform: scale(1.15);
  transform: scale(1.15); 
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.trips-content {
  padding: 25px 30px 20px 12px;
}
.trip-country {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.trip-country h3 {
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 0;
}
.trip-country h3 span {
  color: #FE2F70;
}
.trip-country h3 p {
  font-size: 18px;
  color: #909094;
  text-transform: initial;
}
.trip-date {
  margin-bottom: 20px;
}
.trip-date ul li {
  display: inline-block;
  font-size: 16px;
  /*color: #23242C;*/
  font-weight: 500;
}
.trip-date ul li span {
  color: #909094;
}
.trip-date ul li img {
  margin-right: 5px;
}
.view-link {
  font-size: 22px;
  color: #000941;
  font-weight: 500;
}
.view-link:hover {
  color: #000941;
}
.view-link img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.view-link:hover img {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.trips-area .custom-padding {
  padding: 0 7.5px;
}