@media only screen and (max-width:1920px) {
	
}

@media only screen and (max-width:1680px) {
	.trips-selects-item {
		width: 280px;
	}
	#myDIV .btn {
		margin-right: 2px;
	}
	.gj-datepicker-bootstrap [role="right-icon"] button {
		width: 50px;
	}
	.datepicker.form-control {
		padding-left: 2px;
	}
	.hotel-item h6 {
		margin-top: 120px;
	}
	.pay-radio-boxs .custom-control-label span.usd {
		right: 65px;
	}
	.pay-radio-boxs .custom-control-label {
		padding-right: 150px !important;
	}
}

@media only screen and (max-width:1600px) {
	.trips-selects-item {
		width: 230px;
	}
	.trip-button-links {
		display: block;
	}
	.join-btn-link {
		display: block;
		margin-top: 20px;
		border-radius: 8px;
	}
	.custom-container-fluid {
		padding: 0 50px;
	}
	#myDIV .btn {
		width: 55px;
    	font-size: 18px;
    	line-height: 43px;
	}
	#myDIV .btn img {
		top: 20px;
	}
	.hotel-item h4 {
		margin-top: 0;
	}
}

@media only screen and (max-width:1440px) {
	.lottery-content {
		margin: 0;
		margin-top: 30px;
	}
	.half-round-left {
	  left: -11px;
	}
	.half-round-right {
	  right: -11px;
	}
}


@media only screen and (max-width:1366px) {
	.trips-content {
	    padding: 25px 0 20px 0;
	}
}

@media only screen and (max-width:1199px) {
	.trips-selects-item {
		width: 200px;
	}
	.header-nav ul li a {
		margin-right: 25px;
	}
	.theme-logo {
	    margin-right: 10px;
	}
	.user-col select {
		width: 80px;
	}
	.header-area .container-fluid {
		padding: 0 15px;
	}
	.trips-selects {
		display: flex;
    	justify-content: start;
    	flex-wrap: wrap;
	}
	.trips-selects-item {
	    width: 32%;
	    margin: 0 3px;
	    margin-bottom: 6px;
	}
	.my-pagination {
	    margin-bottom: 30px;
	    float: none;
	    justify-content: center;
	    display: flex;
	}
	.banner-col .banner-content h1 {
		font-size: 50px;
	}
	#back-to-top {
		right: 10px;
	}
	#back-to-top.show {
		bottom: 10px;
	}
	.header-area .navbar-brand {
	    margin-right: 30px;
	}
	.trip-left-box-content {
		max-width: 450px;
	}
	.date-box {
		margin-right: 15px;
	}
	.lottery-banner-area {
		background-image: url(../images/bg/4sub.jpg) !important;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		padding: 50px 0 70px;
	}
	.lottery-banner-col {
		justify-content: center;
		padding-left: 0;
	}
	.plane-img {
		top: 0;
		left: 25%;
		margin-left: -40px;
	}
	.dis-block-1199 {
		display: block;
	}
	.lottery-banner-col h3 {
		margin-bottom: 40px;
	}
	.lottery-banner-col {
		min-height: auto;
	}
	.form-cols .input-group {
		margin-bottom: 10px;
	}
	.hotel-cols {
		display: block;
	}
	.hotel-sidebar-col {
		width: 100%;
		margin-bottom: 50px;
	}
	.hotel-items-col {
		width: 100%;
	}
}

@media only screen and (max-width:1024px) {
	.trips-selects-item {
		width: 170px;
	}
	.trips-selects-item {
	    width: 32%;
	    margin: 0 3px;
	    margin-bottom: 6px;
	}
}

@media only screen and (max-width:991px) {
	.header-nav ul li a {
		padding-bottom: 12px;
	}
	.footer-social-col {
		text-align: center;
	}
	.footer-social-col ul li {
		margin: 0 10px;
	}
	.footer-col {
		margin-bottom: 30px;
		text-align: center;
	}
	.footer-citys-col {
	    max-width: 300px;
	}
	.subscribe-row .input-group {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.subscribe-col {
		text-align: center;
	}
	.footer-area {
		padding: 80px 0;
	}
	.banner-col {
		min-height: 570px;
	}
	.banner-col .banner-content h4:before {
		left: -170px;
    	width: 150px;
	}
	.banner-col .banner-content h4:after {
		right: -170px;
		width: 150px;
	}
	.header-area {
		min-height: 90px;
	}
	.header-left-col {
		margin-top: 20px;
	}
	.header-area .navbar {
		justify-content: space-between;
		width: 100%;
	}
	.header-area .col-lg-2 {
		position: absolute;
		top: 6px;
    	right: 70px
	}
	.header-area .navbar-light .navbar-toggler {
		border-color: #ffffff;
		padding: 8px 12px;
	}
	.header-area .navbar-light .navbar-toggler-icon {
		background-image: url(../images/nav.png);
		width: 24px;
    	height: 22px;
	}
	.header-area .navbar-nav {
		padding: 25px 20px 5px;
		background: rgba(0,0,0,0.2);
	}
	.header-nav ul li {
		display: block;
		margin-bottom: 25px;
	}
	.header-nav ul li:nth-child(3) a {
		padding-bottom: 12px;
	}
	.user-col .user-img {
		top: 13px;
		right: 10px;
	}
	.user-col {
		padding-right: 70px;
	}
	.user-col select {
		margin-top: 30px;
	}
	.header-area .col-lg-2 {
		right: 50px;
	}
	.trip-left-box-content {
		max-width: 100%;
	}
	.dis-block-991 {
	  display: block;
	}
	.checkout-cols {
		display: block;
	}
	.checkout-left-box,
	.checkout-right-box {
		width: 100%;
	}
	.both-cols {
		display: block;
	}
	.left-col, .right-col {
		width: 100%;
	}
}

@media only screen and (max-width:767px) {
	.trips-heading h2 {
		font-size: 40px;
	}
	.trips-selects-item {
	    width: 100%;
	    margin: 0;
	    margin-bottom: 10px;
	}
	#back-to-top {
		right: 10px;
		width: 40px;
		height: 40px;
		line-height: 35px;
	}
	#back-to-top.show {
		bottom: 10px;
	}
	.trips-heading,
	.trips-heading h3 {
		text-align: center;
	}
	.trips-content {
	    padding: 25px 0 20px 0;
	}

	.container-fluid {
		padding: 0 15px;
	}
	.lottery-banner-col h2 {
		font-size: 40px;
	}
	.lottery-banner-col h3 {
		font-size: 25px;
	}


}

@media only screen and (max-width:575px) {
	.my-pagination ul li a {
	    width: 35px;
	    height: 38px;
	    line-height: 24px;
	    font-size: 15px;
	}
	.custom-container-fluid {
		padding: 0 15px !important;
	}
	.trips-area .custom-padding {
		padding: 0 15px;
	}
	.footer-citys-col {
	    max-width: 65%;
	    margin: 0 auto;
	}
	.banner-col .banner-content h1 {
	    font-size: 36px;
	}
	.trip-left-box-content {
		min-height: 300px;
		padding: 20px;
	}
	.lottery-heading .form-control {
		float: none;
	}
	.hotel-item {
		padding: 15px;
	}
	#myDIV .btn {
		margin-bottom: 10px;
	}
	.hotel-item {
		display: block;
	}
	.hotelimg,
	.hotel-item-content {
		width: 100%;
	}
	.hotel-item-content {
		margin-top: 20px;
	}
	.checkout-title h2 {
		font-size: 30px;
	}
	.checkout-left-box h4,
	.checkout-right-box h3,
	.checkout-left-box h3 {
		font-size: 25px;
	}
	.sab-col h4 {
		font-size: 20px;
	}
	.checkout-left-box,
	.checkout-right-box {
		padding: 40px 20px;
	}
	.comment-box {
		padding: 20px;
	}
	.comment-box img {
		position: relative;
		top: auto;
		left: auto;
		transform: translateY(0);
		margin-bottom: 20px;
	}
	.booking-radio-boxs .custom-control-label {
		padding-right: 20px;
	}
	.top-title {
		display: block;
	}
	.top-title-logo {
		margin-bottom: 30px;
	}
	.covid-box {
		padding: 30px 20px 30px 60px;
	}
	.covid-box img {
		left: 20px;
	}
	.reviewcheckout-title h2 {
		font-size: 24px;
	}
	.top-title-text h2,
	.economy-box h2,
	.economy-box h2,
	.right-col-content h2 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.right-col-content h2 a {
		display: block;
		float: left;
	}
}

@media only screen and (max-width:480px) {
	.banner-col {
	    min-height: 390px;
	}
	.banner-col .banner-content h4:before {
	    left: -100px;
	    width: 80px;
	}
	.banner-col .banner-content h4:after {
	    right: -100px;
	    width: 80px;
	}
	.banner-btn {
		margin-top: 30px;
	}
	.pay-radio-boxs .custom-control-label span.usd {
		position: relative;
		right: auto;
		top: auto;
		transform: translateY(0);
		display: block;
		margin-top: 10px;
	}
	.pay-radio-boxs .custom-control-label {
		padding-right: 60px !important;
	}
	.pay-with-box .nav-pills .nav-link {
		width: 100%;
		margin-right: 0;
		display: block;
	}
	.pay-with-box .nav {
		display: block;
	}
	.checkout-cols {
		padding-left: 0;
	}
}

@media only screen and (max-width:420px) {
	
}

@media only screen and (max-width:375px) {
	.subscribe-row .input-group .input-group-text .btn-primary {
		width: 108px;
	}
	.header-area .navbar-brand img {
		width: 80px;
	}
	.header-left-col {
	    margin-top: 30px;
	}
	.preview-box {
		min-height: 300px;
	}
	.request-col textarea.form-control {
		    min-height: 300px;
	}

}

@media only screen and (max-width:320px) {
	
}

