@media only screen and (max-width:1920px) {}

@media only screen and (max-width:1680px) {
    .trips-selects-item {
        width: 280px;
    }
    .features-col {
        padding: 15px 20px 60px;
    }
    .home-about-content {
        padding: 60px 40px;
    }
}

@media only screen and (max-width:1600px) {
    .trips-selects-item {
        width: 230px;
    }
    .home-about-content h2 {
        font-size: 40px;
        line-height: 1.2;
    }
    .home-about-content p {
        font-size: 18px;
        line-height: 30px;
    }
    .home-about-img,
    .home-about-content {
        min-height: 415px;
    }
}

@media only screen and (max-width:1440px) {
    .custom-container-fluid {
        padding: 0 70px;
    }
}

@media only screen and (max-width:1366px) {
    .trips-content {
        padding: 25px 0 20px 0;
    }
    .home-about-content {
        padding: 30px 30px;
    }
    .home-about-img,
    .home-about-content {
        min-height: 387px;
    }
}

@media only screen and (max-width:1199px) {
    .trips-selects-item {
        width: 200px;
    }
    .header-nav ul li a {
        margin-right: 25px;
    }
    .theme-logo {
        margin-right: 10px;
    }
    .user-col select {
        width: 80px;
    }
    .header-area .container-fluid {
        padding: 0 15px;
    }
    .trips-selects {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .trips-selects-item {
        width: 32%;
        margin: 0 3px;
        margin-bottom: 6px;
    }
    .my-pagination {
        margin-bottom: 30px;
        float: none;
        justify-content: center;
        display: flex;
    }
    .banner-col .banner-content h1 {
        font-size: 50px;
    }
    #back-to-top {
        right: 10px;
    }
    #back-to-top.show {
        bottom: 10px;
    }
    .header-area .navbar-brand {
        margin-right: 30px;
    }
    .trip-left-box-content {
        max-width: 450px;
    }
    .date-box {
        margin-right: 15px;
    }
}

@media only screen and (max-width:1024px) {
    .trips-selects-item {
        width: 170px;
    }
    .trips-selects-item {
        width: 32%;
        margin: 0 3px;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width:991px) {
    .header-nav ul li a {
        padding-bottom: 12px;
    }
    .footer-social-col {
        text-align: center;
    }
    .footer-social-col ul li {
        margin: 0 10px;
    }
    .footer-col {
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-citys-col {
        max-width: 300px;
    }
    .subscribe-row .input-group {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .subscribe-col {
        text-align: center;
    }
    .footer-area {
        padding: 80px 0;
    }
    .banner-col {
        min-height: 570px;
    }
    .banner-col .banner-content h4:before {
        left: -170px;
        width: 150px;
    }
    .banner-col .banner-content h4:after {
        right: -170px;
        width: 150px;
    }
    .header-area {
        min-height: 90px;
    }
    .header-left-col {
        margin-top: 20px;
    }
    .header-area .navbar {
        justify-content: space-between;
        width: 100%;
    }
    .header-area .col-lg-2 {
        position: absolute;
        top: 6px;
        right: 70px
    }
    .header-area .navbar-light .navbar-toggler {
        border-color: #ffffff;
        padding: 8px 12px;
    }
    .header-area .navbar-light .navbar-toggler-icon {
        background-image: url(../images/nav.png);
        width: 24px;
        height: 22px;
    }
    .header-area .navbar-nav {
        padding: 25px 20px 5px;
        background: rgba(0, 0, 0, 0.2);
    }
    .header-nav ul li {
        display: block;
        margin-bottom: 25px;
    }
    .header-nav ul li:nth-child(3) a {
        padding-bottom: 12px;
    }
    .user-col .user-img {
        top: 13px;
        right: 10px;
    }
    .user-col {
        padding-right: 70px;
    }
    .user-col select {
        margin-top: 30px;
    }
    .header-area .col-lg-2 {
        right: 50px;
    }
    .trip-left-box-content {
        max-width: 100%;
    }
    .dis-block-991 {
        display: block;
    }
    .home-about-cols {
        display: block;
    }
    .home-about-img {
        width: 100%;
        text-align: center;
    }
    .home-about-content {
        width: 100%;
    }
    .dis-block-991 {
        display: block;
    }
    .dis-none-991 {
        display: none;
    }
    .home-about-img {
        margin-bottom: 0;
    }
    .home-about-img img {
        width: 100%;
    }
    .tab-body .input-group {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:767px) {
    .trips-heading h2 {
        font-size: 40px;
    }
    .trips-selects-item {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    #back-to-top {
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 35px;
    }
    #back-to-top.show {
        bottom: 10px;
    }
    .trips-heading,
    .trips-heading h3 {
        text-align: center;
    }
    .trips-content {
        padding: 25px 0 20px 0;
    }
    .home-about-area h3,
    .countries-area h3 {
        font-size: 40px;
    }
    .home-about-content h2 {
        font-size: 25px;
    }
    .input-groups {
        display: block;
    }
    .input-groups .input-group {
        width: 100%;
    }
    .banner-tab .nav-item .nav-link {
        margin-right: 10px;
    }
    .home-banner-area .custom-container-fluid {
        padding: 0 15px;
    }
}

@media only screen and (max-width:575px) {
    .my-pagination ul li a {
        width: 35px;
        height: 38px;
        line-height: 24px;
        font-size: 15px;
    }
    .container-fluid {
        padding: 0 15px !important;
    }
    .footer-citys-col {
        max-width: 65%;
        margin: 0 auto;
    }
    .banner-col .banner-content h1 {
        font-size: 36px;
    }
    .trip-left-box-content {
        min-height: 300px;
        padding: 20px;
    }
    .home-about-img,
    .home-about-content {
        min-height: auto;
    }
    .home-banner-col h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width:480px) {
    .banner-col {
        min-height: 390px;
    }
    .banner-col .banner-content h4:before {
        left: -100px;
        width: 80px;
    }
    .banner-col .banner-content h4:after {
        right: -100px;
        width: 80px;
    }
    .banner-btn {
        margin-top: 30px;
    }
    .home-about-content p {
        margin-bottom: 20px;
    }
    .home-about-content .btn-primary {
        min-width: 200px;
        height: 60px;
        line-height: 46px;
    }
}

@media only screen and (max-width:420px) {}

@media only screen and (max-width:375px) {
    .subscribe-row .input-group .input-group-text .btn-primary {
        width: 108px;
    }
    .header-area .navbar-brand img {
        width: 80px;
    }
    .header-left-col {
        margin-top: 30px;
    }
}

@media only screen and (max-width:320px) {}