
/*
===========  General CSS ===========
*/
 body {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #23242C;
  background: #ffffff;
  overflow-x: hidden;
}

/* Custom Container */
@media (min-width: 1200px) {
  .container {
    max-width: 1616px;
  }
}

/* Common CSS */
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
  color: #23242C;
  line-height: 1.3;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: capitalize;
}
h1{
  font-size:60px;
}

h2{
  font-size:40px;
}

h3{
  font-size:32px;
}

h4{
  font-size:24px;
}

h5{
  font-size:20px;
}

h6{
  font-size:16px;
}
p {
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}




/* Placeholder CSS */
 ::-moz-placeholder {
     color: #333333 !important;
}
 ::-o-placeholder {
     color: #333333 !important;
}
 :-ms-input-placeholder {
     color: #333333 !important;
}
 input:-moz-placeholder {
     color: #333333 !important;
}
::-webkit-input-placeholder {
  color: #333333 !important;
}


.subscribe-row ::-moz-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row ::-o-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row :-ms-input-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row input:-moz-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}
.subscribe-row ::-webkit-input-placeholder {
  color: #ffffff !important;
  opacity: 0.45;
}



/* Selection CSS */
 ::-moz-selection {
  color: #ffffff;
  background: #00c0d6;
}
 ::selection {
  color: #ffffff;
  background: #00c0d6;
}




/* Form CSS */
.form-control {
  height: 45px;
  margin-bottom: 30px;
  box-shadow: none;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.form-control:focus {
  border-color: rgba(0,0,0,0.12);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Overlay CSS */
.overlay-black {
  position: relative;
}
.overlay-black:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(34, 34, 34, 0.8);
}
.overlay-white {
  position: relative;
}
.overlay-white:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}




/* Theme btn CSS */
.my-btn {
  font-family: 'Merriweather', serif;
  position: relative;
  z-index: 0;
  padding: 18px 60px 15px;
  background: #cda248;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
  height: 60px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover {
  border: none;
  color: #ffffff;
  background: #cda248;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
  width: 80%;
  height: 1px;
  background: #ffffff;   
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  width: 80%;
  height: 1px;
  background: #ffffff;   
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.my-btn:hover:after {
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}



/* Title CSS */
.my-title {
  margin-top: -10px;
  margin-bottom: 60px;
}
.my-title h2 {
  color: #1b1a17;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 20px;
}
.my-title p {
  color: #1b1a17;
  font-size: 16px;
  margin-bottom: 0;
}





/*.animated{
  opacity:1;
}*/

/* Back to top */
#back-to-top {
    position: fixed;
    bottom: 50%;
    right: 60px;
    z-index: 9999;
    width: 66px;
    height: 66px;
    text-align: center;
    line-height: 62px;
    background: #000941;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
#back-to-top:hover {
  background-color: #FE2F70;
  border-color: #FE2F70;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
#back-to-top.show {
    opacity: 1;
    bottom: 80px;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
}


/* Pagination CSS */
.my-pagination {
  margin-bottom: 30px;
  float: right;
}
.my-pagination ul li a {
  display: inline-block;
  background: transparent;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid transparent;
  width: 50px;
  height: 48px;
  line-height: 32px;
  font-size: 21px;
  color: #23242C;
}
.my-pagination ul li a:hover,
.my-pagination ul li a.active {
  background: #FFE5EE;
  border: 1px solid #FE2F70;
  color: #FE2F70;
}
.my-pagination .page-item.disabled .page-link {
  border-color: transparent;
}
.container-fluid {
  padding: 0 60px;
}
.custom-container-fluid {
  padding: 0 150px;
}


/* 
=========== Profile CSS Start ===========
*/
.profile-area {
  padding-bottom: 40px;
}
.pagename {
  color: #FE2F70;
  font-size: 16px;
  line-height: 22px;
  margin: 25px 0;
}
.profile-box {
  display: flex;
  background-color: #F9F9F9;
  padding: 35px 30px;
  margin-bottom: 30px;
}
.profile-img {
  margin-right: 40px;
}
.profile-info .profile-name h4 {
  color: #23242C;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}
.profile-info .profile-name h4 a {
  margin-left: 50px;
}
.profile-info .profile-name span {
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  padding: 4px 22px;
  border-radius: 30px;
  background-color: #56D18F;
}
.profile-contact {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.profile-contact-col {
  margin-bottom: 20px;
}
.profile-contact-col p {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 18px;
}
.profile-contact-col p img {
  margin-right: 12px;
}
.profile-contact .bdr {
  margin: 0 40px;
  width: 1px;
  height: 90px;
  background-color: #D2D2D2;
}
.profile-tabs {
  border: 1px solid #D2D2D2;
}
.profile-tabs .nav-pills {
  border-bottom: 1px solid #D2D2D2;
  padding-left: 30px;
}
.profile-tabs .nav-pills .nav-link {
  padding: 0;
  padding: 22px 32px;
  font-size: 18px;
  line-height: 24px;
  color: #23242C;
  border-bottom: 4px solid transparent;
  border-radius: 0;
}
.profile-tabs .nav-pills .nav-link.active {
  background-color: transparent;
  color: #FE2F70;
  border-bottom: 4px solid #F42D6C;
}
.profile-tabs .tab-pane {
  padding: 30px 30px;
  padding-bottom: 120px;
}
.profile-tabs .tab-pane p {
  font-size: 18px;
  line-height: 24px;
}
.upcoming-trips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
  padding: 0 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.upcoming-col h5 {
  font-size: 18px;
  font-weight: 500;
}
.upcoming-col h5 span {
  font-size: 12px;
  font-weight: normal;
  background-color: #56D18F;
  color: #ffffff;
  padding: 5px 20px;
  margin-left: 20px;
  position: relative;
  top: -3px;
  opacity: 1;
}
.upcoming-col span {
  color: #23242C;
  opacity: 0.44;
}
.upcoming-col p {
  font-weight: 14px !important;
  line-height: 19px !important;
  margin-top: 20px;
}
.upcoming-col p img {
  position: relative;
  top: -3px;
}
.upcoming-col .my-buttons {
  margin-top: 20px;
}
.upcoming-col .my-buttons .btn-primary {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  width: 115px;
  height: 27px;
  background-color: #FE2F70;
  border-radius: 0;
  border: none;
  margin-right: 5px;
}
.upcoming-col .my-buttons .btn-primary.cancel-btn {
  background-color: #E9E9E9;
  color: #23242C;
  opacity: 0.6;
}




/* Gallery CSS Start */
.gallery-images{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-images .column {
  width: 24%;
  margin-bottom: 20px;
}
.gallery-images .column img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-images .column img:hover {
  cursor: zoom-in;
  -webkit-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.22);
  box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.22);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  padding: 25px;
  padding-bottom: 0;
}
.modal-content p {
  font-weight: 20px;
  margin-bottom: 20px;
}

/* The Close Button */
.close {
  color: #000000;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 35px;
}


.mySlides {
  display: none;
  position: relative;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  padding: 15px;
}

/* Position the "next button" to the right */
.next {
  right: 25px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  padding: 0 16px;
}
.thumbnails {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-top: 0;
}
.thumbnails .column {
  width: 12%;
}
.thumbnails .column img:hover {
  cursor: pointer;
}
.demo {
  border: 1px solid transparent;
  padding: 5px;
}

.active,
.demo:hover {
  border-color: #23242C;
}